body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
/*Page-Games*/
.Games {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

.Games img {
    max-width: 100%;
    border-radius: 5px;
}
/**/

/*Page-Games-Describ*/
.container-goodies {
    display: flex;
    align-items: center;
}

.video-container {
    flex: 1;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game-info {
    flex: 1;
    margin-left: 20px;
}

.game-info img {
    max-width: 200px;
    display: block;
    margin-bottom: 10px;
}
/**/

/*Page-Goodies*/
.goodies {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

.goodies img {
    max-width: 100%;
    border-radius: 5px;
}
/**/

/*Page-Goodies-Describ*/
.container {
    display: flex;
    align-items: center;
}

.goodie-info {
    flex: 1;
    margin-right: 20px;
}

.goodie-info img {
    max-width: 200px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.buy-button {
    margin-top: 20px;
    text-align: center;
}
/**/

/*Page-SignIn*/
.container-SignIn {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px; /* Ajustez cette valeur pour le positionnement vertical */
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/**/

/*Page-SignUp*/
.container-SignUp {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px; /* Ajustez cette valeur pour le positionnement vertical */
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/**/